# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
*.egg

# Virtual env
.venv/
env/
venv/

# Jupyter
.ipynb_checkpoints/

# ML artifacts
*.h5
*.onnx
*.joblib

# Logs
*.log

# MLflow artifacts (опціонально, якщо не треба в гіт)
mlruns/

# Ignore everything inside best_model, but keep folder
best_model/*
!best_model/.gitkeep
